*target
*.iml
*.ids
*.ipr
*.iws
*.patch
classes/
*lib_managed/
*src_managed/
*project/boot/
*.project
*.classpath
*db-1.log
*db.data
*db.redo
*/.settings/*
.settings/*
*BACKUP*
*BASE*
*REMOTE*
*.orig
.idea/*
*~
*.DS_Store
*.log